.landing-page {
  /* border: 2px solid red; */
  display: flex;
}

.main-page-img {
  width: 65%;
  object-fit: cover;
  max-height: 100%;
}

.main-text-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.main-text-content h1 {
  font-family: "Alkatra";
  font-size: 3.9rem;
  color: #ff540b;
}

.main-text-content p {
  font-family: "Fasthand-Regular";
  /* padding: 0 2em; */
  width: 60%;
  text-align: center;
  font-size: 1.3rem;
  color: white;
  font-style: italic;
}
