@font-face {
  font-family: "Alkatra";
  src: url("../assets/fonts/Alkatra-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.content {
  height: 95%;
  border: 2px solid red;
  display: flex;
}

.main-page-img {
  width: 50%;
  object-fit: cover;
  max-height: 100%;
}

.main-text-content h1 {
  font-family: "Alkatra";
  font-size: 3rem;
  color: #ff6701;
}
